@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}


/* navba */

.background {
    background-image: url("Screenshot_220.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
  font-family: poppins;
  min-height: 20vh;
  z-index: 50;  
  position: sticky;
  background-color: white;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: black;
  position: relative;
  margin-top: 40px;
  font-weight: 800;
}

.navbar a::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.main {
  display: flex;
  justify-content: space-evenly;
}

/* griddiv */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: 0;
  transform: translateX(30px); 
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.parent.visible {
    opacity: 1; /* Jadi kelihatan */
    transform: translateY(0); /* Balik ke posisi normal */
  }

.div1 {
  grid-area: 1 / 1 / 4 / 6;
  background: linear-gradient(
    114deg,
    rgba(251, 251, 251, 1) 28%,
    rgba(255, 49, 49, 0.8) 100%
  );
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;

  display: flex; /* <-- KUNCI UTAMANYA */
  justify-content: space-between; /* Biar ada jarak di antara keduanya */
  align-items: center; /* Biar teks & foto rapi di tengah (vertikal) */
  width: 90%;
  padding-top: 30px;
  padding-bottom: 40px;
}

.main1 {
    font-family: poppins;
    padding-left: 100px;
}

.main1 h1 {
    padding-bottom: 30px;
}

.main1 h2 {
    max-width: 50rem;
}

.div2 {
  grid-area: 4 / 1 / 6 / 2;
  padding-left: 45px;
  padding-top: 25px;
}

.div3 {
  grid-area: 4 / 2 / 6 / 3;
  padding-left: 50px;
  padding-top: 25px;
}

.div4 {
  grid-area: 4 / 3 / 5 / 5;
  background: linear-gradient(
    114deg,
    rgba(251, 251, 251, 1) 28%,
    rgba(255, 49, 49, 0.8) 100%
  );
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 15px;
}

.main4 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div5 {
  grid-area: 5 / 3 / 6 / 5;
  margin-left: 40px;
  margin-top: 20px;
}

.div6 {
  grid-area: 4 / 5 / 6 / 6;
  background: linear-gradient(
    114deg,
    rgba(251, 251, 251, 1) 28%,
    rgba(255, 49, 49, 0.8) 100%
  );
  margin-right: 35px;
  margin-top: 22px;
  margin-bottom: 75px;
  margin-left: 20px;
  border-radius: 8px;
}

.main6 {
    display: flex;
    justify-content: right; 
}


/* about */

.backgrounds {
    background-image: url("Screenshot_220.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0;
    transform: translateY(30px); 
    transition: opacity 1.4s ease-out, transform 1s ease-out;
}
.backgrounds.visible {
    opacity: 1; 
    transform: translateY(0); 
  }

.swiper {
    width: 100%;
    max-width: 900px; 
    margin: 10px auto; 
    overflow: hidden; 
    position: relative; 
    z-index: 5;
  }
  
  .swiper-slide {
    padding-bottom: 50px; 
    padding-top: 50px;
  }
  
  .swiper-scrollbar {
    background: #f1f1f1; 
    height: 6px;
    bottom: 10px; 
    left: 10%; 
    width: 80%;
    border-radius: 3px;
  }
  
  .swiper-scrollbar-drag {
    background: #d10000; /* Warna MERAH (sesuai desain lo) */
    height: 6px;
    border-radius: 3px;
  }

  .kartu-desain-lo {
    display: flex;
    justify-content: space-between;
  }

  .teks-kiri {
    padding-right: 50px;
    font-family: poppins;
  }

  .teks-kiri h2{
   font-weight: 800;
   padding-bottom: 20px;
  }

  .teks-kiri h3 {
    font-weight: 500;
    padding-bottom: 20px;
  }

  .teks-kiri p {
    font-weight: 300;
  }


  .foto-kanan img {
    width: 300px;
    height: auto;
  }

/* info */

  .infos1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  .infos1 img {
    width: 150px;
    height: auto;
    padding: 20px 20px;
  }

  .info1 {
    margin-top: 40px;
  }

  .info1 h1 {
    font-family: poppins;
    font-size: 1.3rem;
    text-align: center;
  }